body{
  margin: 0;
  background-color: rgb(165, 90, 234);
  nav{
    /* styling */
    border: solid red 1px;
    background-color: rgba(244, 239, 232, 0.914);
    /* flex */
    display: flex;
    justify-content: space-around;
    ul{
      border: solid rgb(25, 0, 255) 2px;
      margin: 0;
      padding-left:0;


      display: flex;
      gap:.8rem;
      li{
        border: solid rgb(188, 215, 10) 1px;
        list-style: none;
      }
    }
    img{
      border: solid rgb(9, 196, 19) 1px;
    }
  }
  section{
    main{
      aside{
        border: solid 1px red;
      }

    }
  }
}